/*=============== Items ====================================================================================================================================================================*/

.items {
    margin-bottom: 45px;
}
.items-wrapper {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;

    .firefly-top {
        pointer-events: none;
        position: absolute;
        top: -12px;
        right: 0;
        opacity: 0.7;
        img {   
            width: 66px;
        }
        animation: firefly 1.5s 0s ease-in-out infinite alternate;
    }
    .firefly-bottom {
        pointer-events: none;
        position: absolute;
        left: 0;
        bottom: -30px;
        opacity: 0.7;
        img {
            width: 44px;
            transform: scaleX(-1);
        }
        animation: firefly 1.4s 0.1s ease-in-out infinite alternate;
    }
}
.items-inner {
}
.items-list {
    display: flex;
    @media (max-width: $break_500) {
        flex-direction: column;
    }
    margin: 0 -13px;

    &__left {
        flex: 1 1 50%;
        padding: 0 13px;
        .items-block:not(:last-child) {
            margin-bottom: 26px;
        }
        @media (max-width: $break_500) {
            .items-block {
                margin-bottom: 26px;
            }
        }
    }

    &__right {
        flex: 1 1 50%;
        padding: 0 13px;
        .items-block {
            height: 100%;
        }
    }
}
.items-block {
    width: 100%;
    border: 4px solid #b0e31b;
    border-radius: 20px;
    background: rgba(58, 32, 80, 0.7);
    overflow: hidden;
    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    // .items-block__image

    &__image {
        width: 100%;
        img {
            width: 100%;
            transform: scale(1.05) translateY(2%);
        }
    }

    // .items-block__title

    &__title {
        position: absolute;
        bottom: 80px;
        font-weight: 700;
        font-size: 24px;
        line-height: 22px;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
        font-family: "Roboto";
        @media (max-width: $break_768) {
            font-size: 21px;
            bottom: 70px;
        }
        @media (max-width: $break_600) {
            font-size: 18px;
        }
        @media (max-width: $break_500) {
            font-size: 24px;
            bottom: 90px;
        }
    }

    // .items-block__button

    &__button {
        position: absolute;
        bottom: 20px;
        max-width: 192px;
        width: 100%;
        padding: 0 15px;
        @media (max-width: $break_500) {
            bottom: 30px;
        }
    }
}

/*=============== /Items ====================================================================================================================================================================*/
