/*=============== Header ====================================================================================================================================================================*/

.header {
}

.header-wrapper {
    position: relative;
    z-index: 100;
    background-color: transparent;
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 60px;

    // .header-inner__logo

    &__logo {
        transition: transform 0.3s ease 0s;
        a {
            text-decoration: none;
        }
        svg {
            max-width: 180px;
            width: 100%;
        }

        &:hover {
            transform: scale(1.05);
        }
        &:active {
            transform: scale(0.95);
        }
    }
}

/*=============== /Header ====================================================================================================================================================================*/
