<section class="feedback">
    <div class="feedback-wrapper">
        <div class="firefly-bottom">
            <img src="img/firefly.png" alt="">
        </div>
        <div class="feedback-inner container">
            <div class="feedback-inner__list feedback-list">
                <div class="feedback-list__block feedback-block">
                    <div class="feedback-block__inner">
                        <div class="feedback-block__text">
                            <p>Please respond to two
                                simple
                                questions to help
                                us improve for you.</p>
                        </div>
                        <div class="feedback-block__button block__button">
                            <a href="#">LEAVE FEEDBACK</a>
                        </div>
                    </div>
                </div>
                <div class="feedback-list__block feedback-block">
                    <div class="feedback-block__inner">
                        <div class="feedback-block__text">
                            <p>Do you need any help?
                                Our support managers
                                are always on-line.</p>
                        </div>
                        <div class="feedback-block__button block__button">
                            <a href="#">SUPPORT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>