<section class="hello">
    <div class="hello-wrapper">
        <div class="hello-bg">
            <div class="shadow-top ibg">
                <img src="img/shadow-top.png" alt="">
            </div>
        </div>
        <div class="hello-inner container">
            <div class="hello-inner__block hello-block block">
                <div class="hello-block__inner block__inner">
                    <div class="hello-block__text">
                        <h3><span>HELLO</span><u>!</u></h3>
                        <p>
                            We hope you have a wonderful day. <span>You've made a great start at</span> FGFOX <span> and
                                we are here to cheer you on your way to new challenges with our promotion offer. </span>
                        </p>
                        <p>
                            <span>The second deposit bonus is guaranteed for your account and you can find it in
                                the</span> prole
                            <span>after you make the</span> €/$ 20 <span>or larger deposit.</span>
                        </p>
                        <p>
                            <small>Wishing you a day full of love and laughter! FGFOX team.</small>
                        </p>
                    </div>
                    <div class="hello-block__button block__button">
                        <a href="#">
                            Activate
                        </a>
                    </div>
                </div>
                <div class="firefly-top">
                    <img src="img/firefly_big.png" alt="">
                </div>
                <div class="firefly-bottom">
                    <img src="img/firefly.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>