<section class="hero">
    <div class="hero-wrapper">
        <div class="hero-inner">
            <div class="shadow-top ibg">
                <img src="img/shadow-top.png" alt="">
            </div>
            <div class="firefly">
                <img src="img/firefly.png" alt="">
            </div>
            <div class="shadow-bottom ibg">
                <img src="img/shadow-bottom.png" alt="">
            </div>
            <div class="hero-inner__title">
                <div class="title1">
                    <img src="img/title1.png" alt="">
                </div>
                <div class="title2">
                    <img src="img/title2.png" alt="">
                </div>
            </div>
            <div class="hero-inner__main">
                <div class="main-shadow">
                    <img src="img/main-shadow.png" alt="">
                </div>
                <div class="main">
                    <img src="img/main.png" alt="">
                </div>
                <div class="circle-left-top">
                    <div class="circle-inner">
                        <div class="circle">
                            <img src="img/circle.png" alt="">
                        </div>
                        <div class="circle-shadow">
                            <img src="img/circle-shadow.png" alt="">
                        </div>
                        <div class="circle-text">
                            <img src="img/text1.png" alt="">
                        </div>
                        <div class="firefly">
                            <img src="img/firefly.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="circle-right-middle">
                    <div class="circle-inner">
                        <div class="circle">
                            <img src="img/circle.png" alt="">
                        </div>
                        <div class="circle-shadow">
                            <img src="img/circle-shadow.png" alt="">
                        </div>
                        <div class="circle-text">
                            <img src="img/text2.png" alt="">
                        </div>
                        <div class="firefly">
                            <img src="img/firefly.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="circle-left-bottom">
                    <div class="circle-inner">
                        <div class="circle">
                            <img src="img/circle.png" alt="">
                        </div>
                        <div class="circle-shadow">
                            <img src="img/circle-shadow.png" alt="">
                        </div>
                        <div class="circle-text">
                            <img src="img/text3.png" alt="">
                        </div>
                        <div class="firefly">
                            <img src="img/firefly.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>