<section class="items">
    <div class="items-wrapper">
        <div class="firefly-top">
            <img src="img/firefly.png" alt="">
        </div>
        <div class="firefly-bottom">
            <img src="img/firefly.png" alt="">
        </div>
        <div class="items-inner container">
            <div class="items-inner__list items-list">
                <div class="items-list__left">
                    <div class="items-list__block items-block">
                        <div class="items-block__inner">
                            <div class="items-block__image">
                                <img src="img/item1.png" alt="">
                            </div>
                            <h3 class="items-block__title">
                                Monday free spins
                            </h3>
                            <div class="items-block__button block__button">
                                <a href="#">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="items-list__block items-block">
                        <div class="items-block__inner">
                            <div class="items-block__image">
                                <img src="img/item2.png" alt="">
                            </div>
                            <h3 class="items-block__title">
                                Thursday reload
                            </h3>
                            <div class="items-block__button block__button">
                                <a href="#">More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="items-list__right">
                    <div class="items-list__block items-block">
                        <div class="items-block__inner">
                            <div class="items-block__image">
                                <img src="img/item3.png" alt="">
                            </div>
                            <h3 class="items-block__title">
                                VIP Club
                            </h3>
                            <div class="items-block__button block__button">
                                <a href="#">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>